/* Function создает плавный переход между заданными знацениями шифта
с одного разрешения к другому тем самым создает прямую линию
на графике и пропорционально увельичивает шрифт*/
@function adaptiveFZ($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/ ($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}
