@import "../common/style/theme/vriable";

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

header {
  background: $bg-secondary-50;
  font-size: 3em;
}
main {
  font-size: 2em;
  background: $bg-primary;
}
footer {
  font-size: 1.5em;
  background: $bg-secondary-50;
}
