//=====================================================
//                ФИРМЕННЫЕ ЦВЕТА
//=====================================================
button {
  padding: 0.5em;
  background: $bg-accent;
  color: $bg-secondary;
}

//================== HOVER ============================

//=====================================================
//                   MEDIA
//=====================================================
