// 100: Thin;
// 200: Extra Light (Ultra Light);
// 300: Light;
// 400: Normal (Regular);
// 500: Medium;
// 600: Semi Bold (Demi Bold);
// 700: Bold;
// 800: Extra Bold (Ultra Bold);
// 900: Black (Heavy).

@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans/OpenSans-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans/OpenSans-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans/OpenSans-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans/OpenSans-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
}
